build/

# ioLibrary_Driver build fájlok
firmware/ioLibrary_Driver/build/
firmware/ioLibrary_Driver/
firmware/python/
docs/configure-stepper-ninja.html

hardware/
.vscode/
.obsidian/
firmware.zip
hal-driver.zip
buildall.sh
benchmark_udp
__pycache__0
configurations/configure.py
firmware/tree.txt
utility/CMakeLists.txt
utility/pico_sdk_import.cmake
utility/pico_spi_test.c
utility/spi_test_master.c
utility/osd.c
utility/osd
configurations/configurator/beziertest.py
